interactions:
- request:
    body: payLoad=%7B%22displaycolumns%22%3A+%22recalleventid%2Cproductid%2Cproducttypeshort%2Crecallnum%2Cphasetxt%2Ccentercd%2Ccenterclassificationtypetxt%2Cfirmlegalnam%2Cfirmfeinum%2Crecallinitiationdt%2Ccenterclassificationdt%2Cterminationdt%2Cenforcementreportdt%2Cdeterminationdt%2Cinitialfirmnotificationtxt%2Cdistributionareasummarytxt%2Cvoluntarytypetxt%2Cproductdescriptiontxt%2Cproductshortreasontxt%2Cproductdistributedquantity%2Ceventlmd%22%2C+%22filter%22%3A+%22%5B%7B%27eventlmdfrom%27%3A%2704%2F20%2F2026%27%7D%5D%22%2C+%22start%22%3A+1%2C+%22rows%22%3A+5000%2C+%22sort%22%3A+%22eventlmd%22%2C+%22sortorder%22%3A+%22desc%22%7D
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.accessdata.fda.gov/rest/iresapi/recalls/
  response:
    body:
      string: "{\"MESSAGE\":\"success\",\"RESULTCOUNT\":168,\"STATUSCODE\":400,\"RESULT\":[{\"PRODUCTID\":\"219865\",\"RECALLEVENTID\":\"98779\",\"PRODUCTTYPESHORT\":\"Devices\",\"PHASETXT\":\"Ongoing\",\"RECALLINITIATIONDT\":\"04/14/2026\",\"FIRMLEGALNAM\":\"Philips
        North America\",\"VOLUNTARYTYPETXT\":\"Firm Initiated\",\"DISTRIBUTIONAREASUMMARYTXT\":\"Worldwide
        - US Nationwide and the countries of Argentina, Australia, Bangladesh, Belgium,
        Brazil, Canada, Chile, Cuba, Cyprus, Denmark, Ecuador, Egypt, France, Germany,
        Greece, Hong Kong, India, Indonesia, Iran, Iraq, Israel, Italy, Japan, Kenya,
        Lebanon, Lithuania, Malta, Mexico, Myanmar, Netherlands, Pakistan, Palestine,
        Peru, Poland, Portugal, Russian Fed., Singapore, South Korea, Spain, Sweden,
        Switzerland, Taiwan, Thailand, Tunisia, Turkey, United Kingdom.\\n\",\"CENTERCD\":\"CDRH\",\"CENTERCLASSIFICATIONDT\":\"04/27/2026\",\"TERMINATIONDT\":null,\"INITIALFIRMNOTIFICATIONTXT\":\"Letter\",\"CENTERCLASSIFICATIONTYPETXT\":\"2\",\"ENFORCEMENTREPORTDT\":\"05/06/2026\",\"FIRMFEINUM\":\"3006648320\",\"EVENTLMD\":\"04/27/2026\",\"PRODUCTDESCRIPTIONTXT\":\"Philips
        SmartPath to dStream for XR and 3.0T with MR Elastography (MRE). \\r\\n\\r\\n1.
        Model Number (REF): 781270. \\r\\n\\r\\n2. Model Number (REF): 782113.  \\r\\n\\r\\n\\r\\n\\r\\n\\r\\n\\r\\n\",\"PRODUCTSHORTREASONTXT\":\"The
        potential for stiffness value errors when a specific range of image reconstruction
        parameters is used in combination with Resoundant's algorithm, leading to
        the reconstruction voxel size settings in the default MRE scan protocol displaying
        too small.\\r\\n\",\"RECALLNUM\":\"Z-1967-2026\",\"PRODUCTDISTRIBUTEDQUANTITY\":\"14
        units\",\"DETERMINATIONDT\":\"04/27/2026\",\"RID\":3},{\"PRODUCTID\":\"219863\",\"RECALLEVENTID\":\"98779\",\"PRODUCTTYPESHORT\":\"Devices\",\"PHASETXT\":\"Ongoing\",\"RECALLINITIATIONDT\":\"04/14/2026\",\"FIRMLEGALNAM\":\"Philips
        North America\",\"VOLUNTARYTYPETXT\":\"Firm Initiated\",\"DISTRIBUTIONAREASUMMARYTXT\":\"Worldwide
        - US Nationwide and the countries of Argentina, Australia, Bangladesh, Belgium,
        Brazil, Canada, Chile, Cuba, Cyprus, Denmark, Ecuador, Egypt, France, Germany,
        Greece, Hong Kong, India, Indo[...]
